<article class="entry">
  <turbo-frame id="<%=dom_id(entry)%>">
    <h2><%= entry.title %></h2> <p><%=entry.created_at.strftime("#{entry.created_at.day.ordinalize} %B %Y")%></p>
    <%= entry.text %>
    <%= entry.content %>
    <%= link_to edit_entry_path(entry), class: "edit-btn" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
    <%= link_to entry_path(entry), method: :delete, class: "delete-btn", data: { confirm: "Are you sure?" } do %>
      <%= fa_icon "trash" %>
      Delete
    <% end %>
    <p class="entry-updated-at"><small>Updated: <%= entry.updated_at %></small></p>
  </turbo-frame>
</article>
