<div class="panel">
  <%= link_to 'Create new entry', new_entry_path %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
  <%= form_with(url: search_entries_path, method: "get", local: true) do %>
    <%= label_tag(:start_date, "Start date:") %>
    <%= select_date Date.today, prefix: :start_date %><br>
    <%= label_tag(:end_date, "End date:") %>
    <%= select_date Date.yesterday, prefix: :end_date %>
    <%= submit_tag("Filter") %>
  <% end %>
  <div class="entry-container">
    <% @entries.each do |entry| %>
      <%= render partial: 'entry', locals: {entry: entry} %>
    <% end %>
  </div>

</div>
